



<% @restaurants.each do |restaurant| %>

<h2>
<% if @category_id %>
<a href="/restaurants/<%=restaurant.id%>?category_id=<%=@category_id%>"><%= restaurant.name %></a>
<% else %>
<a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name %></a>

<% end %>
</h2>
<% end %>


<!-- google map -->
<h1>Map here!!!</h1>
    <div class="map">
        <div id="homepage_map">
          fdsfdsfasd
        </div>
    </div>
<h1>End map</h1>



<style>
   .map {
}
#homepage_map {
  height: 300px;
}
</style>


<script type="text/javascript">
function initMap() {
  var map = new google.maps.Map(document.getElementById('homepage_map'), {
    center: {lat: 41.9845824, lng: -87.69715930000001},
    zoom: 8
  });
}
</script>

