<body id="page-top" class="index metallic-aqua">

    <div class="loading-screen">
        <div class="content animated fadeInDown">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <h2 class="section-heading">Preparing your fish</h2>
            <h3 class="section-subheading">Please wait...</h3>
        </div>
    </div>


<!-- Main Slider -->
    <header id="header" class="intro">
        <div id="hero-carousel" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
<!-- Start slide -->
            <div class="item active">
                <div class="fill seafood_one"></div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="slide-content animated fadeInDown">
                            <span class="section-icon">m</span>
                            <h1>Best Seafood Restaurants in Chicago </h1>
                            <h2>Locally sourced</h2>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div>
            <!-- End slide --> 

            </div><!-- /.carousel-inner -->

        <a href="#nav" class="btn page-scroll header-scroll">
            <i class="fa fa-angle-down animated"></i>
        </a>

        <!-- Controls -->
          <a class="left carousel-control" href="#hero-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#hero-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>

        </div><!-- /#hero-carousel -->
    </header><!-- /.intro -->
    <!-- End Main Slider -->

<!-- Introduction Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <h2 class="section-heading">A unique experience for Seafood lovers.</h2>
                    <span class="section-divider">t</span>
                    <h3 class="section-subheading text-muted">Local restaurants, Top Reviews <span>... For Foodies.</span></h3>
                    <a href="#unique" class="page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Introduction Section -->
 
    <!-- Unique Chain Section -->
    <section id="unique">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="section-icon">u</span>
                    <h2 class="section-heading">Seefood is a  seafood locater for top seafood restaurants  in Chicago &amp; for seafood lovers.</h2>
                    <h3 class="section-subheading">Specializing in the specific seafood categories, offering a welcoming review experience for foodies.</h3>
                    <a href="#restaurants" class="page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Unique Chain Section -->

    
<!-- Choose Restaurant Section -->
    <section id="restaurants">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading wow fadeInDown">Best Seafood Restuarants in Chicago</h3>
                </div>
            </div><!-- /.row-->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInLeft">
                    <ul>
                        <li><a href="#restaurantModal1" data-toggle="modal">Devons Seafood</a></li>
                        <li><a href="#restaurantModal1" data-toggle="modal">Bob Chinns</a></li
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInUp">
                    <ul>
                        
                        <li><a href="#restaurantModal1" data-toggle="modal">GT Fish &  Oyester</a></li>

                        <li><a href="#restaurantModal1" data-toggle="modal">Boston Fish Market</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInUp">
                    <ul>
                        
                        <li><a href="#restaurantModal1" data-toggle="modal">Fish Bar</a></li>
                        <li><a href="#restaurantModal1" data-toggle="modal">Oyester Bah</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInRight">
                    <ul>
                        <li><a href="#restaurantModal1" data-toggle="modal">The Angry Crab</a></li>
                    </ul>
                </div>
                
            </div><!-- /.row -->
            
        </div><!-- /.container -->
    </section>
    <!-- End Restaurants Section -->




<div class="row">
 <% @categories.each do |category| %>
  <div class="col-md-4">
      <div class="well" style="height: 400px">
        <h2><a href="/restaurants?category_id=<%= category.id %>">
        <img src="/assets/images/<%= category.image %>" style="width: 100%"></a></h2>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample-<%= category.id %>" aria-expanded="false" aria-controls="collapseExample-<%= category.id %>">
              <%= category.name %> Restaurants
            </a>
      </div>

    <div class="collapse" id="collapseExample-<%= category.id %>">
      <div class="well">
      <% category.restaurants.each do |restaurant| %>
        <h2><a href="/restaurants/<%= restaurant.id %>?category_id=<%= category.id %>"><%= restaurant.name %></a></h2> 
        <P>
        <span>
        <% if restaurant.category_average_review(category.id) %>
        ( <%= restaurant.category_average_review(category.id) %> Stars )
        <div>
        <% restaurant.category_average_review(category.id).to_int.times do %>
            <i class="fa fa-star"></i> 
        <% end %>
        </div>
        <% else %>
        ( no reviews )
        <% end %>
        </span>
        </p>
      <% end %>

        
       <!-- end star ratings -->
      </div>
    </div>


</div>
<% end %>
</div>
  
